* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 0.2s;
    font-family: Old Standard TT;
}

:root {
    --header-color: rgb(255, 69, 0);
    --back-color: white;
    --grid-color: rgb(255, 69, 0);
    --btncolor: rgb(255, 69, 0);
    --footer: rgb(255, 69, 0);
}

.darkmode {
    --header-color: black;
    --back-color: gray;
    --grid-color: rgb(94, 53, 0);
    --btncolor: black;
    --footer: black;
}

body {
    background-color: var(--back-color);
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    gap: 50px;
    background-color: var(--header-color);
}

header h1 {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}


#btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 25px;
}

#btn button {
    width: 100px;
    height: 34px;
    border-radius: 200px;
    width: 100px;
    height: 34px;
    border-radius: 200px;
    border: solid black 0.5px;
    background-color: white;
    color: var(--btncolor);
    cursor: pointer;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 100px;
    margin-top: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid-template-columns-4 {
    display: grid;
    height: 70%;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.item {
    background-color: var(--grid-color);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.item:hover{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

#dialog {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

#dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

#dialog p {
    text-align: justify;
    font-size: 30px;
    margin-bottom: 20px;

}

#dialog button {
    width: 100px;
    height: 34px;
    border-radius: 200px;
    border: solid black 0.5px;
    background-color: orangered;
    color: white;
}

#close{
    cursor: pointer; 
}

form{
    width: 20%;
}

form input{
    margin-bottom: 20px;
}

#submit{
    background-color: orangered;
    color: white;
    width: 150px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}




.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    border: solid red 1px;
    text-align: center;
    height: 80vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div1{
    background-color: orangered;
    color: white;
}

.div2{
    background-color: orangered;
    color: white;
}

.div3{
    background-color: orangered;
    color: white;
}

.div4{
    background-color: orangered;
    color: white;
}

.div5{
    background-color: orangered;
    color: white;
}

.div6{
    background-color: orangered;
    color: white;
}

#content{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
        font-size: 50px;
    }
}

footer{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--footer);
    color: white;
    height: 50px;
    p{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}